@model IEnumerable<Website.Models.Order>

<br/>
<h1>Orders</h1>
<br />
<br />

<div class="row" style="margin-top: 60px;">

    <div class="col-lg-6 text-center">
        <input type="button" onclick="location.href = '@Url.Action("List","Orders")'" style="width: 300px; height: 300px; font-size: 45px" class="btn btn-danger" value="List"/>
    </div>
    <div class="col-lg-6 text-center">
        <input type="button" onclick="location.href = '@Url.Action("Create","Orders")'" style="width: 300px; height: 300px; font-size: 45px" class="btn btn-primary" value="Create"/>
    </div>
</div>
