@using BLL.Extensions
@model Website.Models.User


<br />
<br />

<div class="row" style="margin-top: 130px;">
    <div class="col-lg-4 text-center">
        <input type="button" onclick="location.href = '@Url.Action("List", "Orders")'" style="width: 300px; height: 300px; font-size: 45px" class="btn btn-info" value="Orders" />
    </div>
    <div class="col-lg-4 text-center">
        <input type="button" onclick="location.href = '@Url.Action("Index", "Users")'" style="width: 300px; height: 300px; font-size: 45px" class="btn btn-danger" value="Employees"/>
    </div>
    <div class="col-lg-4 text-center">
        <input type="button" onclick="location.href = '@Url.Action("Index", "Stock")'" style="width: 300px; height: 300px; font-size: 45px" class="btn btn-primary" value="StockItem"/>
    </div>
</div>